.cta {
    padding: 8px 20px;
    background: #2e8424;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 4px;
    font-weight: bold;
    cursor: pointer;
}
.cta-del {
    padding: 8px 20px;
    background: #e84c30;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 4px;
    font-weight: bold;
    cursor: pointer;
}


input {
    height: 24px;
}
